.dibaca {
  background-color: green;
  color: white;
}

.icon-button {
  margin: 0 20px 0 0;
}

button {
  width: 120px;
}

.dibaca:hover {
  background-color: gray;
  color: white;
}

.telah-dibaca:hover {
  cursor: default;
}

.text-pesan-baru {
  color: green;
}
